<!DOCTYPE kpartgui>
<kpartgui name="kblocks" version="2">

<MenuBar>
  <Menu name="game">
    <Action name="newGame" />
    <Action name="pauseGame" />
    <Seperator/>
    <Action name="showHighscores" />
    <Seperator/>
    <Action name="quit" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="newGame"/>
  <Seperator/>
  <Action name="pauseGame"/>
  <Action name="quit"/>
</ToolBar>
<StatusBar/>

</kpartgui>
