[Desktop Entry]
Encoding=UTF-8
Name=KBlocks
Icon=kblocks
Exec=kblocks -caption "%c"
Type=Application
DocPath=kblocks/index.html
GenericName=Falling blocks game
GenericName[es]=Juego en el que caen bloques
GenericName[ja]=落ちてくるブロックのゲーム
GenericName[pt]=Jogo de blocos em queda
GenericName[pt_BR]=Jogo de blocos em queda
GenericName[zh_TW]=掉落的方塊遊戲
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
