[Desktop Entry]
Name=KBlocks
Name[hne]=के-बाक्स
Name[ro]=KBlocuri
Name[sr]=К‑блокови
Name[sr@latin]=K‑blokovi
Name[sv]=Kblock
Name[x-test]=xxKBlocksxx
Icon=kblocks
Exec=kblocks -caption "%c"
Type=Application
X-DocPath=kblocks/index.html
GenericName=Falling Blocks Game
GenericName[ca]=Joc de blocs que cauen
GenericName[da]=Faldende blokke-spil
GenericName[de]=„Tetris“-Spiel
GenericName[es]=Juego de bloques en cascada
GenericName[et]=Langevate klotside mäng
GenericName[gl]=Xogo de caída de bloques
GenericName[km]=ល្បែង​ប្លុក​ទម្លាក់
GenericName[nn]=Spel med fallande brikker
GenericName[pt]=Jogo de Blocos em Queda
GenericName[pt_BR]=Jogo estilo tetris
GenericName[sr]=Игра падајућих блокова
GenericName[sr@latin]=Igra padajućih blokova
GenericName[sv]=Spel med fallande block
GenericName[uk]=Гра з падаючими блоками
GenericName[x-test]=xxFalling Blocks Gamexx
GenericName[zh_CN]=俄罗斯方块游戏
GenericName[zh_TW]=類似俄羅斯方塊遊戲
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
