[Desktop Entry]
Name=KBlocks
Icon=kblocks
Exec=kblocks -caption "%c"
Type=Application
X-DocPath=kblocks/index.html
GenericName=Falling Blocks Game
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
