[Desktop Entry]
Name=KBlocks
Name[bs]=KBlocks
Name[ca]=KBlocks
Name[ca@valencia]=KBlocks
Name[cs]=KBlocks
Name[da]=KBlocks
Name[de]=KBlocks
Name[el]=KBlocks
Name[en_GB]=KBlocks
Name[es]=KBlocks
Name[et]=KBlocks
Name[eu]=KBlocks
Name[fi]=KBlocks
Name[fr]=KBlocks
Name[ga]=KBlocks
Name[gl]=KBlocks
Name[hi]=केब्लॉक्स
Name[hne]=के-बाक्स
Name[hu]=KBlocks
Name[id]=KBlocks
Name[is]=K-Blokkir
Name[it]=KBlocks
Name[ja]=KBlocks
Name[kk]=KBlocks
Name[km]=KBlocks
Name[ko]=KBlocks
Name[lt]=KBlocks
Name[lv]=KBlocks
Name[mr]=के-ब्लॉक्स
Name[nb]=KBlocks
Name[nds]=KBlocks
Name[nl]=KBlocks
Name[nn]=KBlocks
Name[pl]=KBloki
Name[pt]=KBlocks
Name[pt_BR]=KBlocks
Name[ro]=KBlocuri
Name[ru]=KBlocks
Name[sk]=KBlocks
Name[sl]=KBlocks
Name[sq]=KBlocks
Name[sr]=К‑блокови
Name[sr@ijekavian]=К‑блокови
Name[sr@ijekavianlatin]=K‑blokovi
Name[sr@latin]=K‑blokovi
Name[sv]=Kblock
Name[tr]=KBlocks
Name[ug]=KBlocks
Name[uk]=KBlocks
Name[wa]=KBlocks
Name[x-test]=xxKBlocksxx
Name[zh_CN]=KBlocks
Name[zh_TW]=KBlocks
Icon=kblocks
Exec=kblocks -qwindowtitle %c
Type=Application
X-DocPath=kblocks/index.html
GenericName=Falling Blocks Game
GenericName[bs]=Igra padajući blokovi
GenericName[ca]=Joc de blocs que cauen
GenericName[ca@valencia]=Joc de blocs que cauen
GenericName[da]=Faldende blokke-spil
GenericName[de]=„Tetris“-Spiel
GenericName[el]=Παιχνίδι με τούβλα που πέφτουν
GenericName[en_GB]=Falling Blocks Game
GenericName[es]=Juego de bloques en cascada
GenericName[et]=Langevate klotside mäng
GenericName[eu]=Erortzen diren blokeen jokoa
GenericName[fi]=Putoavien palojen peli
GenericName[fr]=Jeu de blocs qui tombent
GenericName[ga]=Cluiche le bloic atá ag titim
GenericName[gl]=Xogo no que caen bloques
GenericName[hi]=गिरते खण्डों का खेल
GenericName[hu]=Játék lehulló elemekkel
GenericName[id]=Permainan Balok Berjatuhan
GenericName[it]=Gioco di blocchi che cadono
GenericName[ja]=落下するブロックのゲーム
GenericName[kk]=Тетрис - тектес ойыны
GenericName[km]=ល្បែង​ប្លុក​ធ្លាក់​
GenericName[ko]=떨어지는 블록 게임
GenericName[lt]=Krentančių blokų žaidimas
GenericName[lv]=Krītošo bloku spēle
GenericName[mr]=पडणाऱ्या ब्लॉक्सचा खेळ
GenericName[nb]=Spill med fallende brikker
GenericName[nds]=Speel mit fallen Blöck
GenericName[nl]=Vallende blokken-spel
GenericName[nn]=Spel med fallande brikker
GenericName[pl]=Gra w spadające bloki
GenericName[pt]=Jogo de Blocos em Queda
GenericName[pt_BR]=Jogo estilo Tetris
GenericName[ro]=Joc de blocuri căzătoare
GenericName[ru]=Тетрис
GenericName[sk]=Hra s padajúcimi blokmi
GenericName[sl]=Igra padajočih kock
GenericName[sq]=Loja Rënia e Bloqeve
GenericName[sr]=Игра падајућих блокова
GenericName[sr@ijekavian]=Игра падајућих блокова
GenericName[sr@ijekavianlatin]=Igra padajućih blokova
GenericName[sr@latin]=Igra padajućih blokova
GenericName[sv]=Spel med fallande block
GenericName[tr]=Sütun Düşürme Oyunu
GenericName[ug]=چۈشۈۋاتقان بۆلەك ئويۇنى
GenericName[uk]=Гра з блоками, що падають
GenericName[wa]=On djeu avou des blokes ki tcheyèt
GenericName[x-test]=xxFalling Blocks Gamexx
GenericName[zh_CN]=俄罗斯方块游戏
GenericName[zh_TW]=類似俄羅斯方塊遊戲
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;ArcadeGame;
X-DBUS-ServiceName=org.kde.kblocks
