[KGameTheme]
Name=Black and White
Name[bg]=Черно и бяло
Name[nl]=Zwart en wit
Name[pt]=Preto e Branco
Name[pt_BR]=Preto e Branco
Name[sv]=Svartvitt
Description=KBlocks Black and White
Description[bg]=KBlocks - черно и бяло
Description[nl]=KBlocks zwart en wit
Description[pt]=KBlocks a Preto-e-Branco
Description[pt_BR]=KBlocks a Preto-e-Branco
Description[sv]=Kblocks svartvitt
VersionFormat=1
Author=Mauricio Piacentini
AuthorEmail=mauricio@tabuleiro.com
Type=SVG
FileName=bw_theme.svg
Preview=bw_preview.png

