[KGameTheme]
Name=Default
Name[pt]=Predefinição
Name[pt_BR]=Predefinição
Description=KBlocks Oxygen theme for KDE 4
Description[pt]=Tema do Oxygen para o KBlocks no KDE 4
Description[pt_BR]=Tema do Oxygen para o KBlocks no KDE 4
VersionFormat=1
Author=Johann-Ollivier Lapeyre
AuthorEmail=johann.ollivierlapeyre@gmail.com
Type=SVG
FileName=default_theme.svg
Preview=default_preview.png

