[KGameTheme]
Name=Egyptian
Name[el]=Αιγυπτιακό
Name[en_GB]=Egyptian
Name[fr]=Égyptien
Name[it]=Egyptian
Name[pt]=Egípcio
Name[sv]=Egyptisk
Name[tr]=Mısırlı
Name[uk]=Єгипетська
Name[x-test]=xxEgyptianxx
Description=KBlocks, Egyptian style.
Description[uk]=KBlocks, єгипетський стиль.
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=egyptian.svg
Preview=egyptian_preview.png
Sound_Block_Move=default_block_move.ogg
Sound_Block_Fall=default_block_fall.ogg

