[KGameTheme]
Name=Default
Name[pt]=Por Omissão
Name[pt_BR]=Por Omissão
Name[sv]=Förval
Description=KBlocks Oxygen theme for KDE 4
Description[pt]=Tema Oxygen do KBlocks para o KDE 4
Description[pt_BR]=Tema Oxygen do KBlocks para o KDE 4
Description[sv]=Kblocks Oxygen-tema för KDE 4
VersionFormat=1
Author=Johann-Ollivier Lapeyre
AuthorEmail=johann.ollivierlapeyre@gmail.com
Type=SVG
FileName=default_theme.svg
Preview=default_preview.png
Block_Size=30
View_Size_Width=585
View_Size_Height=660
PlayArea_OffsetPoint_X=49
PlayArea_OffsetPoint_Y=14
PlayArea_NumberOfBlocks_X=10
PlayArea_NumberOfBlocks_Y=20
PreviewArea_CenterPoint_X=400
PreviewArea_CenterPoint_Y=150
