[KGameTheme]
Name=oxygen
Name[en_GB]=oxygen
Name[pt]=oxygen
Name[sv]=oxygen
Name[uk]=oxygen
Name[x-test]=xxoxygenxx
Description=KBlocks Oxygen theme for KDE 4
Description[en_GB]=KBlocks Oxygen theme for KDE 4
Description[hi]=केडीई४ के लिए केब्लॉक्स ऑक्सीजन प्रसंग
Description[hne]=केडीई४ बर केब्लाक्स आक्सीजन प्रसंग
Description[pt]=Tema do Oxygen para o KBlocks do KDE 4
Description[sv]=Oxygen-tema för Kblock i KDE 4
Description[uk]=Тема KBlocks Oxygen для KDE 4
Description[x-test]=xxKBlocks Oxygen theme for KDE 4xx
VersionFormat=1
Author=Johann-Ollivier Lapeyre
AuthorEmail=johann.ollivierlapeyre@gmail.com
Type=SVG
FileName=oxygen.svg
Preview=oxygen_preview.png
Sound_Block_Move=default_block_move.ogg
Sound_Block_Fall=default_block_fall.ogg

