[KGameTheme]
Name=Oxygen
Name[bs]=kiseonik
Name[ca]=Oxygen
Name[ca@valencia]=Oxygen
Name[cs]=Oxygen
Name[da]=Oxygen
Name[de]=Oxygen
Name[el]=Oxygen
Name[en_GB]=Oxygen
Name[eo]=Oxygen
Name[es]=Oxígeno
Name[et]=Oxygen
Name[eu]=Oxygen
Name[fa]=اکسیژن
Name[fi]=Oxygen
Name[fr]=Oxygen
Name[ga]=Oxygen
Name[gl]=Oxygen
Name[hi]=ऑक्सीजन
Name[hne]=आक्सीजन
Name[hu]=Oxygen
Name[id]=Oxygen
Name[it]=Oxygen
Name[kk]=Oxygen
Name[km]=អុកស៊ីសែន
Name[ko]=Oxygen
Name[lt]=Oxygen
Name[lv]=Oxygen
Name[mai]=आक्सीजन
Name[mr]=ऑक्सीजन
Name[nb]=Oxygen
Name[nds]=Oxygen
Name[ne]=अक्सिजन
Name[nl]=Oxygen
Name[nn]=Oksygen
Name[pl]=Tlen
Name[pt]=Oxygen
Name[pt_BR]=Oxygen
Name[ro]=Oxygen
Name[ru]=Oxygen
Name[se]=Oksygena
Name[sk]=Kyslík
Name[sl]=Kisik
Name[sq]=Oksigjen
Name[sr]=Кисеоник
Name[sr@ijekavian]=Кисеоник
Name[sr@ijekavianlatin]=Kiseonik
Name[sr@latin]=Kiseonik
Name[sv]=Oxygen
Name[te]=ఆక్సీజన్
Name[tr]=Oxygen
Name[ug]=ئوكسېگىن
Name[uk]=Oxygen
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
Name[zh_CN]=Oxygen
Name[zh_TW]=Oxygen
Description=KBlocks Oxygen theme for KDE 4
Description[bs]=Tema KBlocks kisik za KDE 4
Description[ca]=Tema Oxygen del KBlocks per al KDE 4
Description[ca@valencia]=Tema Oxygen del KBlocks per al KDE 4
Description[cs]=Oxygen motiv pro KBlocks v KDE 4
Description[da]=KBlocks' Oxygen-tema for KDE 4
Description[de]=KBlocks-„Oxygen“-Design für KDE4
Description[el]=Θέμα Oxygen του KBlocks για το KDE4
Description[en_GB]=KBlocks Oxygen theme for KDE 4
Description[es]=Tema Oxígeno de KBlocks para KDE 4
Description[et]=KBlocksi KDE4 Oxygeni teema
Description[eu]=KBlocks Oxygen gaia KDE 4rako
Description[fi]=KBlocksin Oxygen-teema KDE4:lle
Description[fr]=Thème « Oxygen » pour KBlocks pour KDE 4
Description[ga]=Téama Oxygen KBlocks le haghaidh KDE 4
Description[gl]=Tema visual Oxygen de KBlocks para KDE 4
Description[hi]=केडीई४ के लिए केब्लॉक्स ऑक्सीजन प्रसंग
Description[hne]=केडीई४ बर केब्लाक्स आक्सीजन प्रसंग
Description[hu]=KBlocks Oxygen-alapú téma a KDE 4-hez
Description[id]=Tema Oxygen KBlocks untuk KDE 4
Description[it]=Tema Oxygen di KBlocks per KDE 4
Description[ja]=KBlocks の KDE 4 用 Oxygen テーマ
Description[kk]=KDE4-тің KBlocks Oxygen нақышы
Description[km]=ស្បែក​អុកស៊ីសែន​របស់ KBlocks សម្រាប់ KDE 4
Description[ko]=KDE 4용 KBlocks Oxygen 테마
Description[lv]=KBlocks Oxygen tēma priekš KDE 4
Description[mr]=केडीई४ करिता के-ब्लॉक्स ऑक्सीजन शैली
Description[nb]=KBlocks oxygen-tema for KDE 4
Description[nds]=Oxygen-Muster ut KDE4 för KBlocks
Description[nl]=KBlocks Oxygen-thema voor KDE 4
Description[nn]=Oksygen-tema for KBlocks
Description[pl]=Wystrój Tlenu dla KBloków w KDE4
Description[pt]=Tema do Oxygen para o KBlocks do KDE 4
Description[pt_BR]=Tema do Oxygen para o KBlocks do KDE 4
Description[ro]=Tematică KBlocuri Oxygen pentru KDE4
Description[ru]=Стиль оформления Oxygen для KBlocks из KDE4
Description[sk]=Oxygen téma pre KBlocks v KDE 4
Description[sl]=Tema Kisik za igro KBlocks
Description[sq]=Tema KBlocks Oxygen për KDE 4
Description[sr]=Кисеоничка тема К‑блокова за КДЕ‑4
Description[sr@ijekavian]=Кисеоничка тема К‑блокова за КДЕ‑4
Description[sr@ijekavianlatin]=Kiseonička tema K‑blokova za KDE4
Description[sr@latin]=Kiseonička tema K‑blokova za KDE4
Description[sv]=Oxygen-tema för Kblock i KDE 4
Description[tr]=KDE 4 için KBlocks Oxygen Teması
Description[uk]=Тема KBlocks Oxygen для KDE 4
Description[wa]=Tinme Ocsidjinne di KBlocks po KDE 4
Description[x-test]=xxKBlocks Oxygen theme for KDE 4xx
Description[zh_CN]=为 KDE 4 设计的 KBlocks 绿氧主题
Description[zh_TW]=KBlocks KDE4 Oxygen 外觀主題
VersionFormat=1
Author=Johann-Ollivier Lapeyre
AuthorEmail=johann.ollivierlapeyre@gmail.com
Type=SVG
FileName=oxygen.svg
Preview=oxygen_preview.png
Sound_Block_Move=default_block_move.ogg
Sound_Block_Fall=default_block_fall.ogg

